iuclid_6_sections/src/main/resources/net/idea/i6/xsd/core/ASSESSMENT_ENTITY-TransformationProductOfTheRegisteredSubstance-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/ASSESSMENT_ENTITY-TransformationProductOfTheRegisteredSubstance/1.0" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/ASSESSMENT_ENTITY-TransformationProductOfTheRegisteredSubstance/1.0"><xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/><xs:element name="ASSESSMENT_ENTITY.TransformationProductOfTheRegisteredSubstance"><xs:complexType><xs:sequence><xs:element name="AssessmentEntityConfidentialityClaim" type="i6:dataProtectionField"/><xs:element name="AssessmentEntityName" type="i6:textFieldSmall"/><xs:element name="RelationToRegisteredSubstance" type="i6:picklistField"/><xs:element name="Compositions" type="i6:documentReferenceMultipleField"/><xs:element name="RelatedComposition" type="i6:documentReferenceMultipleField"/><xs:element name="Description" type="i6:textField"/><xs:element name="ReactionSchema" type="i6:attachmentField"/><xs:element name="EndpointSummariesList"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="entry"><xs:complexType><xs:complexContent><xs:extension base="i6:repeatableEntryType"><xs:sequence><xs:element name="Name" type="i6:documentReferenceMultipleField"/><xs:element name="Notes" type="i6:textFieldLarge"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>