iuclid_6_sections/src/main/resources/net/idea/i6/xsd/core/CONTACT-2.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/CONTACT/2.0" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/CONTACT/2.0"><xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/><xs:element name="CONTACT"><xs:complexType><xs:sequence><xs:element name="GeneralInfo"><xs:complexType><xs:sequence><xs:element name="ContactType" type="i6:picklistField"/><xs:element name="LastName" type="i6:textFieldSmall"/><xs:element name="FirstName" type="i6:textFieldSmall"/><xs:element name="Organisation" type="i6:textFieldSmall"/><xs:element name="Department" type="i6:textFieldSmall"/><xs:element name="Title" type="i6:textFieldSmall"/><xs:element name="Phone" type="i6:textFieldSmall"/><xs:element name="Mobile" type="i6:textFieldSmall"/><xs:element name="Fax" type="i6:textFieldSmall"/><xs:element name="Email" type="i6:textFieldSmall"/><xs:element name="Address1" type="i6:textFieldSmall"/><xs:element name="Address2" type="i6:textFieldSmall"/><xs:element name="Postal" type="i6:textFieldSmall"/><xs:element name="Town" type="i6:textFieldSmall"/><xs:element name="Region" type="i6:textFieldSmall"/><xs:element name="Country" type="i6:picklistField"/><xs:element name="Remarks" type="i6:textFieldLarge"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>