iuclid_6_sections/src/main/resources/net/idea/i6/xsd/core/ENDPOINT_SUMMARY-CorrosiveToMetals-2.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/ENDPOINT_SUMMARY-CorrosiveToMetals/2.0" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/ENDPOINT_SUMMARY-CorrosiveToMetals/2.0"><xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/><xs:element name="ENDPOINT_SUMMARY.CorrosiveToMetals"><xs:complexType><xs:sequence><xs:element name="AdministrativeDataSummary"><xs:complexType><xs:sequence><xs:element name="DataProtection" type="i6:dataProtectionField"/></xs:sequence></xs:complexType></xs:element><xs:element name="LinkToRelevantStudyRecord"><xs:complexType><xs:sequence><xs:element name="Link" type="i6:documentReferenceMultipleField"/></xs:sequence></xs:complexType></xs:element><xs:element name="KeyInformation"><xs:complexType><xs:sequence><xs:element name="KeyInformation" type="i6:textField"/></xs:sequence></xs:complexType></xs:element><xs:element name="Discussion"><xs:complexType><xs:sequence><xs:element name="Discussion" type="i6:textField"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>