iuclid_6_sections/src/main/resources/net/idea/i6/xsd/core/FIXED_RECORD-AnalyticalInformation-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/FIXED_RECORD-AnalyticalInformation/1.0" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/FIXED_RECORD-AnalyticalInformation/1.0"><xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/><xs:element name="FIXED_RECORD.AnalyticalInformation"><xs:complexType><xs:sequence><xs:element name="DataProtection" type="i6:dataProtectionField"/><xs:element name="AnalyticalMethods" type="i6:textFieldMultiLine"/><xs:element name="AnalyticalDocReference" type="i6:attachmentField"/><xs:element name="OpticalActivity" type="i6:textFieldLarge"/><xs:element name="AnalysisResults"><xs:complexType><xs:sequence><xs:element name="AnalysisResults"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="entry"><xs:complexType><xs:complexContent><xs:extension base="i6:repeatableEntryType"><xs:sequence><xs:element name="AnalysisType" type="i6:textFieldSmall"/><xs:element name="TestedSubstance" type="i6:textFieldSmall"/><xs:element name="MethodUsed" type="i6:textFieldSmall"/><xs:element name="MethodDocReference" type="i6:attachmentField"/><xs:element name="Remarks" type="i6:textFieldLarge"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>