iuclid_6_sections/src/main/resources/net/idea/i6/xsd/core/FIXED_RECORD-GenericExposurePotential-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/FIXED_RECORD-GenericExposurePotential/1.0" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/FIXED_RECORD-GenericExposurePotential/1.0"><xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/><xs:element name="FIXED_RECORD.GenericExposurePotential"><xs:complexType><xs:sequence><xs:element name="DataProtection" type="i6:dataProtectionField"/><xs:element name="ClosedSystem"><xs:complexType><xs:sequence><xs:element name="TakePlaceInClosedSystem" type="i6:picklistField"/></xs:sequence></xs:complexType></xs:element><xs:element name="RoutesOfExposure"><xs:complexType><xs:sequence><xs:element name="HumanExposures"><xs:complexType><xs:sequence><xs:element name="Oral" type="i6:picklistField"/><xs:element name="Dermal" type="i6:picklistField"/><xs:element name="Inhalation" type="i6:picklistField"/></xs:sequence></xs:complexType></xs:element><xs:element name="EnvironmentExposures"><xs:complexType><xs:sequence><xs:element name="Water" type="i6:picklistField"/><xs:element name="Air" type="i6:picklistField"/><xs:element name="SolidWaste" type="i6:picklistField"/><xs:element name="Soil" type="i6:picklistField"/></xs:sequence></xs:complexType></xs:element><xs:element name="PatternExposures"><xs:complexType><xs:sequence><xs:element name="AccidentalInfrequent" type="i6:picklistField"/><xs:element name="Occasional" type="i6:picklistField"/><xs:element name="ContinuousFrequent" type="i6:picklistField"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>