iuclid_6_sections/src/main/resources/net/idea/i6/xsd/core/FLEXIBLE_RECORD-ProductResearchDevelopment-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/FLEXIBLE_RECORD-ProductResearchDevelopment/1.0" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/FLEXIBLE_RECORD-ProductResearchDevelopment/1.0"><xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/><xs:element name="FLEXIBLE_RECORD.ProductResearchDevelopment"><xs:complexType><xs:sequence><xs:element name="DataProtection" type="i6:dataProtectionField"/><xs:element name="Name" type="i6:textFieldSmall"/><xs:element name="ForHumanVeterinaryUse" nillable="true" type="i6:booleanField"/><xs:element name="NotPlacedOnMarket" nillable="true" type="i6:booleanField"/><xs:element name="EstimatedQuantity" type="i6:physicalQuantityRangeField"/><xs:element name="Remarks" type="i6:textFieldLarge"/><xs:element name="Document" type="i6:attachmentField"/></xs:sequence></xs:complexType></xs:element></xs:schema>