iuclid_6_sections/src/main/resources/net/idea/i6/xsd/core/FLEXIBLE_RECORD-JointSubmission-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/FLEXIBLE_RECORD-JointSubmission/1.0" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/FLEXIBLE_RECORD-JointSubmission/1.0"><xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/><xs:element name="FLEXIBLE_RECORD.JointSubmission"><xs:complexType><xs:sequence><xs:element name="DataProtection" type="i6:dataProtectionField"/><xs:element name="GeneralInformation"><xs:complexType><xs:sequence><xs:element name="Name" type="i6:textFieldSmall"/><xs:element name="Remarks" type="i6:textFieldLarge"/><xs:element name="RegulatoryProgramme" type="i6:picklistField"/></xs:sequence></xs:complexType></xs:element><xs:element name="Lead"><xs:complexType><xs:sequence><xs:element name="LegalEntity" type="i6:documentReferenceField"/></xs:sequence></xs:complexType></xs:element><xs:element name="Members"><xs:complexType><xs:sequence><xs:element name="LegalEntities" type="i6:documentReferenceMultipleField"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>