iuclid_6_sections/src/main/resources/net/idea/i6/xsd/core/FLEXIBLE_RECORD-AssessmentReports-2.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/FLEXIBLE_RECORD-AssessmentReports/2.0" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/FLEXIBLE_RECORD-AssessmentReports/2.0"><xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/><xs:element name="FLEXIBLE_RECORD.AssessmentReports"><xs:complexType><xs:sequence><xs:element name="AdministrativeData"><xs:complexType><xs:sequence><xs:element name="DataProtection" type="i6:dataProtectionField"/></xs:sequence></xs:complexType></xs:element><xs:element name="AssessmentReport"><xs:complexType><xs:sequence><xs:element name="Document" type="i6:attachmentField"/><xs:element name="TypeOfReport" type="i6:picklistField"/><xs:element maxOccurs="unbounded" minOccurs="0" name="SDSContains" type="i6:picklistField"/><xs:element maxOccurs="unbounded" minOccurs="0" name="CSRContains" type="i6:picklistField"/><xs:element name="TypeOfCSR" type="i6:picklistField"/><xs:element name="ChemicalSafetyAssessmentReportToolUsed" type="i6:picklistField"/><xs:element name="Remarks" type="i6:textFieldMultiLine"/></xs:sequence></xs:complexType></xs:element><xs:element name="Discussion"><xs:complexType><xs:sequence><xs:element name="Discussion" type="i6:textField"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>