iuclid_6_sections/src/main/resources/net/idea/i6/xsd/core/FLEXIBLE_RECORD-EstimatedQuantities-2.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/FLEXIBLE_RECORD-EstimatedQuantities/2.0" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/FLEXIBLE_RECORD-EstimatedQuantities/2.0"><xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/><xs:element name="FLEXIBLE_RECORD.EstimatedQuantities"><xs:complexType><xs:sequence><xs:element name="DataProtection" type="i6:dataProtectionField"/><xs:element name="Year" nillable="true"><xs:simpleType><xs:restriction base="xs:integer"/></xs:simpleType></xs:element><xs:element name="TotalTonnage"><xs:complexType><xs:sequence><xs:element name="Manufacturer" nillable="true" type="i6:numericField"/><xs:element name="Imported" nillable="true" type="i6:numericField"/></xs:sequence></xs:complexType></xs:element><xs:element name="DetailsTonnage"><xs:complexType><xs:sequence><xs:element name="TonnageDirectlyExported" nillable="true" type="i6:numericField"/><xs:element name="TonnageOwnUser" nillable="true" type="i6:numericField"/><xs:element name="TonnageIntermediateTransporter" nillable="true" type="i6:numericField"/><xs:element name="TonnageIntermediateOnsite" nillable="true" type="i6:numericField"/></xs:sequence></xs:complexType></xs:element><xs:element name="TonnagesNotificationSubstancesInArticles"><xs:complexType><xs:sequence><xs:element name="TonnageImportedArticles" nillable="true" type="i6:numericField"/><xs:element name="TonnageProducedArticles" nillable="true" type="i6:numericField"/><xs:element name="Remarks" type="i6:textFieldLarge"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>