iuclid_6_sections/src/main/resources/net/idea/i6/xsd/core/FLEXIBLE_RECORD-Suppliers-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/FLEXIBLE_RECORD-Suppliers/1.0" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/FLEXIBLE_RECORD-Suppliers/1.0"><xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/><xs:element name="FLEXIBLE_RECORD.Suppliers"><xs:complexType><xs:sequence><xs:element name="DataProtection" type="i6:dataProtectionField"/><xs:element name="ManufacturerImportForm"><xs:complexType><xs:sequence><xs:element name="LegalEntity" type="i6:documentReferenceField"/><xs:element name="Remarks" type="i6:textFieldLarge"/></xs:sequence></xs:complexType></xs:element><xs:element name="OnlyRepresentationInfo"><xs:complexType><xs:sequence><xs:element name="NonEUManufacturerAssignment" type="i6:attachmentField"/><xs:element name="ImporterEntries"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="entry"><xs:complexType><xs:complexContent><xs:extension base="i6:repeatableEntryType"><xs:sequence><xs:element name="LegalEntity" type="i6:documentReferenceField"/><xs:element name="Agreement" type="i6:attachmentField"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>