iuclid_6_sections/src/main/resources/net/idea/i6/xsd/core/FLEXIBLE_SUMMARY-PbtAssessment-2.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/FLEXIBLE_SUMMARY-PbtAssessment/2.0" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/FLEXIBLE_SUMMARY-PbtAssessment/2.0"><xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/><xs:element name="FLEXIBLE_SUMMARY.PbtAssessment"><xs:complexType><xs:sequence><xs:element name="AdministrativeData"><xs:complexType><xs:sequence><xs:element name="DataProtection" type="i6:dataProtectionField"/></xs:sequence></xs:complexType></xs:element><xs:element name="PbtAssessmentOverallResult"><xs:complexType><xs:sequence><xs:element name="AssessedCompositionS" type="i6:documentReferenceMultipleField"/><xs:element name="Regarded" type="i6:picklistField"/><xs:element name="Justification" type="i6:textField"/><xs:element name="LikelyRoutesOfExposure" type="i6:textField"/><xs:element name="AttachedDocuments" type="i6:attachmentListField"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>