iuclid_6_sections/src/main/resources/net/idea/i6/xsd/core/LITERATURE-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/LITERATURE/1.0" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/LITERATURE/1.0"><xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/><xs:element name="LITERATURE"><xs:complexType><xs:sequence><xs:element name="GeneralInfo"><xs:complexType><xs:sequence><xs:element name="LiteratureType" type="i6:picklistField"/><xs:element name="Name"><xs:simpleType><xs:restriction base="i6:textFieldSmall"><xs:minLength value="1"/></xs:restriction></xs:simpleType></xs:element><xs:element name="Author" type="i6:textFieldMultiLine"/><xs:element name="ReferenceYear" nillable="true"><xs:simpleType><xs:restriction base="xs:integer"><xs:minInclusive value="1000"/><xs:maxInclusive value="9999"/></xs:restriction></xs:simpleType></xs:element><xs:element name="Source" type="i6:textFieldSmall"/><xs:element name="TestLab" type="i6:textFieldSmall"/><xs:element name="ReportNo" type="i6:textFieldSmall"/><xs:element name="CompanyOwner" type="i6:textFieldSmall"/><xs:element name="CompanyOwnerStudyNo" type="i6:textFieldSmall"/><xs:element name="ReportDate" nillable="true" type="xs:date"/><xs:element name="Remarks" type="i6:textFieldLarge"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>