iuclid_6_sections/src/main/resources/net/idea/i6/xsd/core/SITE-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/SITE/1.0" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/SITE/1.0"><xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/><xs:element name="SITE"><xs:complexType><xs:sequence><xs:element name="ConfidentialityInfo"><xs:complexType><xs:sequence><xs:element name="DataProtection" type="i6:dataProtectionField"/></xs:sequence></xs:complexType></xs:element><xs:element name="GeneralInfo"><xs:complexType><xs:sequence><xs:element name="SiteName"><xs:simpleType><xs:restriction base="i6:textFieldSmall"><xs:minLength value="1"/></xs:restriction></xs:simpleType></xs:element><xs:element name="OwnerLegalEntity" type="i6:documentReferenceField"/><xs:element name="Remarks" type="i6:textFieldLarge"/></xs:sequence></xs:complexType></xs:element><xs:element name="ExternalSystemIdentifiers"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="entry"><xs:complexType><xs:complexContent><xs:extension base="i6:repeatableEntryType"><xs:sequence><xs:element name="DataProtection" type="i6:dataProtectionField"/><xs:element name="ExternalSystemDesignator" type="i6:textFieldSmall"/><xs:element name="Id" type="i6:textFieldSmall"/><xs:element name="Remarks" type="i6:textFieldLarge"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element><xs:element name="ContactAddress"><xs:complexType><xs:sequence><xs:element name="DataProtection" type="i6:dataProtectionField"/><xs:element name="ContactAddress" type="i6:addressField"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>