iuclid_6_sections/src/main/resources/net/idea/i6/xsd/core/TEST_MATERIAL_INFORMATION-2.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://iuclid6.echa.europa.eu/namespaces/TEST_MATERIAL_INFORMATION/2.0" xmlns:i6="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iuclid6.echa.europa.eu/namespaces/TEST_MATERIAL_INFORMATION/2.0"><xs:import namespace="http://iuclid6.echa.europa.eu/namespaces/platform-fields/v1" schemaLocation="platform-fields.xsd"/><xs:element name="TEST_MATERIAL_INFORMATION"><xs:complexType><xs:sequence><xs:element name="Name" type="i6:textFieldMultiLine"/><xs:element name="Composition"><xs:complexType><xs:sequence><xs:element name="CompositionList"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="entry"><xs:complexType><xs:complexContent><xs:extension base="i6:repeatableEntryType"><xs:sequence><xs:element name="Type" type="i6:picklistField"/><xs:element name="ReferenceSubstance" type="i6:documentReferenceField"/><xs:element name="Concentration" type="i6:physicalQuantityRangeField"/><xs:element name="Remarks" type="i6:textFieldMultiLine"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element><xs:element name="CompositionPurityOtherInformation" type="i6:picklistFieldWithSmallTextRemarks"/><xs:element name="OtherCharacteristics"><xs:complexType><xs:sequence><xs:element name="TestMaterialForm" type="i6:picklistFieldWithMultiLineTextRemarks"/><xs:element name="DetailsOnTestMaterial" type="i6:textFieldLarge"/><xs:element name="ConfidentialDetailsOnTestMaterial" type="i6:textFieldLarge"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>